body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1f2029;
}

#calculator {
    display: grid;
    grid-template-areas:
    "disp disp disp disp"
    "disp disp disp disp"
    "ac plusminus percent divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
    width: 400px;
    height: 500px;
    background-color: black;
    border: 8px solid black;
    border-radius: 5px;
    grid-gap: 1px;
}
.special-function {
    display: flex;
    color: #0f0f0f;
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-color: #a5a5a5;
}
.special-function:hover{
    animation-name: fade-special;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
.special-function-pressed{
    animation-name: fade-special;
    animation-duration: 500ms;
    animation-play-state: initial;
}
@keyframes fade-special{
    100%{
        background-color: #d9d9d9;
    }
}
.operator {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ff9e0a;
}
.operator:hover{
    animation: fade-operator;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
.operator-pressed{
    animation: fade-operator;
    animation-duration: 500ms;
}
@keyframes fade-operator{
    100%{
        background-color: #ffc266;
        Color: black;
    }
}
.num-input {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #333333;
    vertical-align: middle;
}
.num-input:hover{
    animation: fade-num;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
.num-input-pressed{
    animation: fade-num;
    animation-duration: 300ms;
}
@keyframes fade-num{
    100%{
        background-color: #666666;
    }
}
[data-function="clear"]{
    grid-area: ac;
}
[data-function="negate"]{
    grid-area: plusminus;
}
[data-function="percent"]{
    grid-area: percent;
}
[data-function="zero"]{
    grid-area: zero;
}
[data-function="one"]{
    grid-area: one;
}
[data-function="two"]{
    grid-area: two;
}
[data-function="three"]{
    grid-area: three;
}
[data-function="four"]{
    grid-area: four;
}
[data-function="five"]{
    grid-area: five;
}
[data-function="six"]{
    grid-area: six;
}
[data-function="seven"]{
    grid-area: seven;
}
[data-function="eight"]{
    grid-area: eight;
}
[data-function="nine"]{
    grid-area: nine;
}
[data-function="decimal"]{
    grid-area: decimal;
}
[data-function="add"]{
    grid-area: add;
}
[data-function="subtract"]{
    grid-area: subtract;
}
[data-function="multiply"]{
    grid-area: multiply;
}
[data-function="divide"]{
    grid-area: divide;
}
[data-function="equals"]{
    grid-area: equals;
}
[data-function="disp"]{
    max-width: 400px;
    max-height: 142px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: disp;
    background-color: #555555;
    color: white;
    font-size: 48px;
    border-radius: 5px;
}

