body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1f2029;
    --calculator-width: 320px;
    --calculator-height: 500px;
    --calculator-button-fontsize: 24px;
}

#calculator {
    display: grid;
    grid-template-areas:
    "disp disp disp disp"
    "ac plusminus percent divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
    width: var(--calculator-width);
    height: var(--calculator-height);
    background-color: black;
    border: 8px solid black; 
    border-radius: 5px;
    grid-gap: 1px;
    box-shadow: 0 0px 10px 0 #555555;
    cursor: pointer;
}
.special-function {
    display: flex;
    color: #0f0f0f;
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-color: #a5a5a5;
    font-size: var(--calculator-button-fontsize);
    user-select: none;
}   
.special-function:hover{
    background-color: #d9d9d9;
}
.special-function-clicked, .special-function-pressed{
    animation: click;
    animation-duration: 200ms;
}

.operator {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ff9e0a;
    font-size: var(--calculator-button-fontsize);
    user-select: none;
}
.operator:hover{
    background-color: #ffc266;
    Color: black;
}
.operator-selected{
    background-color: white;
    color: #ff9e0a;
}
.operator-selected:hover{
    background-color: #f2f2f2;
    color: #e68a00;
}

.operator-clicked, .operator-pressed{
    animation: click;
    animation-duration: 200ms;
}

.num-input {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #333333;
    font-size: var(--calculator-button-fontsize);
    user-select: none;
}
.num-input:hover{
    background-color: #666666;
}

.num-input-clicked, .num-input-pressed{
    animation: click;
    animation-duration: 200ms;
}

@keyframes click{
    50%{
        transform: scale(.9);
    }
}
[data-function="clear"]{
    grid-area: ac;
}
[data-function="negate"]{
    grid-area: plusminus;
}
[data-function="percent"]{
    grid-area: percent;
}
[data-function="zero"]{
    grid-area: zero;
}
[data-function="one"]{
    grid-area: one;
}
[data-function="two"]{
    grid-area: two;
}
[data-function="three"]{
    grid-area: three;
}
[data-function="four"]{
    grid-area: four;
}
[data-function="five"]{
    grid-area: five;
}
[data-function="six"]{
    grid-area: six;
}
[data-function="seven"]{
    grid-area: seven;
}
[data-function="eight"]{
    grid-area: eight;
}
[data-function="nine"]{
    grid-area: nine;
}
[data-function="decimal"]{
    grid-area: decimal;
}
[data-function="add"]{
    grid-area: add;
}
[data-function="subtract"]{
    grid-area: subtract;
}
[data-function="multiply"]{
    grid-area: multiply;
}
[data-function="divide"]{
    grid-area: divide;
}
[data-function="equals"]{
    grid-area: equals;
}
[data-function="disp"]{
    max-width: var(--calculator-width);
    margin-bottom: 8px;
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: disp;
    background-color: #555555;
    color: white;
    font-size: 48px;
    border-radius: 5px;
}



